/*
 * CSS to be used for the Flyer map
 */

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

h1, h2 {
    font-weight: 700;
    color: #023755;
    text-transform: uppercase;
    font-size: 24px;
}

.entry-header {
    text-align: center;
    padding: 20px;
    background-color: #4d7685;
    color: #fff;
    font-style: italic
}

.entry-header h1.entry-title {
    color: #fff;
    text-transform: none;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-style: italic
}

.entry-header h1.entry-title:after {
    display: block;
    content: '';
    margin: 10px auto;
    max-width: 150px;
    height: 10px;
    background-size: contain;
    background: url(https://www.westernflyer.org/wp-content/themes/whitespace/images/underline.png) no-repeat center;
}

p {
    line-height: 1.4;
}

#root {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.tty {
    font-family: "Noto Sans Mono", ui-monospace, Consolas, monospace
}

.fetching {
    animation: blinker 1s linear infinite;
    font-size: 30px;
    font-style: italic;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Styling used by react-data-table for its  first row: */
.rdt_TableHeadRow {
    font-weight: bold;
    font-size: 10pt;
}
